@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.album-card:hover {
  transform: translateY(-5px);
}

.audio-player {
  transition: all 0.3s ease;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(10deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.floating-image {
  will-change: transform;
  filter: blur(1px);
  transition: all 0.3s ease;
}

.floating-image:hover {
  filter: blur(0);
  opacity: 0.3;
}

/* 添加 GradientText 边框动画 */
@keyframes gradient-border {
  0% {
    border-color: #40ffaa;
  }
  50% {
    border-color: #4079ff;
  }
  100% {
    border-color: #40ffaa;
  }
}

.border-animated {
  animation: gradient-border 3s linear infinite;
} 